#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.MuiButton-root:focus {
  outline: none !important;
}

.appWrapper {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}